.bars-container {
    width: 100%;
    height: 100vh;
}

.side-nav {
    border-radius: 0px;
    background-color: #e4e0e1;
    padding: 150px 30px;
    max-width: 200px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav-content {
    /* padding: 20px; */

    mat-toolbar {
        background-color: #e4e0e1;
    }
}
