<div class="students-container">
    <div class="students-bar">
        <button
            [disabled]="(authStudent$ | async)?.role !== 'admin'"
            mat-button
            (click)="openModal()"
        >
            <mat-icon> add </mat-icon>
            Crear alumno
        </button>

        <h4 appHeaderSize>Alumnos</h4>
    </div>

    @if (isLoading) {
        <mat-spinner></mat-spinner>
    } @else {
        <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>id</th>
                <td mat-cell *matCellDef="let student">{{ student.id }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let student">
                    {{ student | studentFullName }}
                </td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Correo</th>
                <td mat-cell *matCellDef="let student">{{ student.email }}</td>
            </ng-container>

            <!-- creacion Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Fecha de creacion</th>
                <td mat-cell *matCellDef="let student">
                    {{ student.createdAt | date }}
                </td>
            </ng-container>

            <!-- actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let student">
                    <button (click)="goToDetail(student.id)" mat-icon-button>
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button
                        [disabled]="(authStudent$ | async)?.role !== 'admin'"
                        (click)="openModal(student)"
                        mat-icon-button
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        [disabled]="(authStudent$ | async)?.role !== 'admin'"
                        (click)="confirmDelete(student.id)"
                        mat-icon-button
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    }
</div>
