<h1 mat-dialog-title>
    {{ data?.editingStudent ? "Editar estudiante" : "Crear estudiante" }}
</h1>

<div mat-dialog-content>
    <form [formGroup]="studentForm" (ngSubmit)="onSave()" class="w-100">
        <div class="row">
            <mat-form-field class="col-6">
                <mat-label>Nombre</mat-label>
                <input
                    matInput
                    formControlName="firstName"
                    [ngClass]="{ 'invalid-input': hasError('firstName') }"
                />
                <mat-error *ngIf="hasError('firstName')">
                    {{ getErrorMessage("firstName") }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-6">
                <mat-label>Apellido</mat-label>
                <input
                    matInput
                    formControlName="lastName"
                    [ngClass]="{ 'invalid-input': hasError('lastName') }"
                />
                <mat-error *ngIf="hasError('lastName')">
                    {{ getErrorMessage("lastName") }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mt-3">
            <mat-form-field>
                <mat-label>Correo Electrónico</mat-label>
                <input
                    matInput
                    formControlName="email"
                    [ngClass]="{ 'invalid-input': hasError('email') }"
                />
                <mat-error *ngIf="hasError('email')">
                    {{ getErrorMessage("email") }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-6 mt-3">
                <mat-label>Rol</mat-label>
                <mat-select
                    formControlName="role"
                    [ngClass]="{ 'invalid-input': hasError('role') }"
                >
                    <mat-option
                        *ngFor="let roleOption of roles"
                        [value]="roleOption.value"
                    >
                        {{ roleOption.label }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('role')">
                    {{ getErrorMessage("role") }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-6 mt-3">
                <mat-label>Contraseña</mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="password"
                    [ngClass]="{ 'invalid-input': hasError('password') }"
                />
                <mat-error *ngIf="hasError('password')">
                    {{ getErrorMessage("password") }}
                </mat-error>
            </mat-form-field>
        </div>
    </form>

    <div class="mat-dialog-actions d-flex flex-row-reverse">
        <button mat-button (click)="onSave()">Guardar</button>
        <button mat-button mat-dialog-close>Cancelar</button>
    </div>
</div>
